.album-list {
  padding: 32px 0;
}
.section-header {
  text-align: center;
}
.list-item {
  line-height: 18px;
}
.title-chinese {
}
.title-english {
}
.list-item {
}
.list-item.disabled {
  color: lightgray;
}
