@if (discography$ | async; as discography) {
  <mat-nav-list class="album-list">
    @for (section of discography.sections; track section.type) {
      @if (!!section.albums && section.albums.length > 0) {
        <h3 mat-subheader class="section-header">
          @switch (section.type) {
            @case ('studio') {
              Studio Albums
            }
            @case ('compilation') {
              Compilations
            }
            @case ('ep') {
              EP
            }
            @case ('other') {
              Other
            }
          }
        </h3>
        @for (album of section.albums; track album.id) {
          <a
            mat-list-item
            [routerLink]="['/album', album.id]"
            routerLinkActive="active-nav-item"
            class="list-item"
            [class.disabled]="album.disabled"
          >
            <span matListItemTitle class="title-chinese">{{ album.title.chinese.zht }}</span>
            <span matListItemLine class="title-english">{{ album.title.english }}</span>
          </a>
        }
      }
    }
  </mat-nav-list>
}
