<div class="content">
  @if (discography$ | async; as discography) {
    @for (section of discography.sections; track section.type) {
      @if (!!section.albums && section.albums.length > 0) {
        <div class="section">
          <h2 class="section-header">
            {{ albumTypeLabels[section.type] }}
          </h2>
          <mat-nav-list class="album-grid">
            @for (album of section.albums; track album.id) {
              <a
                mat-list-item
                [routerLink]="album.disabled ? null : ['/album', album.id]"
                class="album-card"
                [disabled]="album.disabled"
                [class.disabled]="album.disabled"
              >
                <div matListItemLine class="title-chinese">{{ album.title.chinese.zht }}</div>
                <div matListItemLine class="title-english">{{ album.title.english }}</div>
                <div matListItemLine class="release-date">{{ album.releaseDate | date }}</div>
              </a>
            }
          </mat-nav-list>
        </div>
      }
    }
  }
</div>
